@import 'src/styles/all.scss';

$size: 200px;

.mask{
    width: 204px;
}

.row{
    flex-wrap: wrap;
    display: flex;
}

.profile-row{
    @extend .row;

    &>*{
        margin: .5rem;
    }
}

.payment{
    &-row{
        @extend .row;
        margin-bottom: .5rem;
    }

    &-inputs{
        @extend .row;
        margin: .5rem 0 1rem 0;

        @media all and(max-width: 700px) {
            // justify-content: center;
        }

        &>*{
            margin-top: .5rem;
            margin-right: 1rem;
        }
    }
}

.qr{
    @include flex($jc: flex-start, $dir: column);

    width: $size;
    height: $size;

    padding: .25rem;
    margin-right: 1rem;

    border: 1px solid #eee;
    border-radius: 5px;

    &-row{
        @include flex($jc: flex-start, $ai: flex-end);
        flex-wrap: wrap;

        @media all and(max-width: 700px) {
            // justify-content: center;
        }
    }

    &-img{
        margin: auto;
        width: 80%;
        height: 80%;
    }

    &-label{
        font-size: .75rem;
        color: $gray-text;

        width: 100%;
    }

    &-none{
        color: $gray-text;
        font-weight: bold;
        text-align: center;
        
        margin: auto;
    }

    &-actions{
        @include flex($jc: flex-end, $ai: flex-start, $dir: column);
    }

    &-buttons ::ng-deep button{
        margin: .5rem 0;
    }
}

.card-fields{
    margin-left: 2rem;
}

.save{
    @include flex($jc: flex-end);

    &-btn{
        min-width: 200px;
    }
}
