<app-auth-layout>
    <app-login-form [onLogin]="onLogin" [loading]="loading"></app-login-form>
    <span routerLink="/sign" class="link">
        <app-button [primary]="false" type="button">
            {{'SIGNIN' | translate}}
        </app-button>
    </span>
</app-auth-layout>
